#isc   
{font-size:20px;color: green;}
.isca
{font-size:20px;color: crimson;}
.iscb
{font-size:20px;color: rgb(32, 32, 32);}
body 
 {  
   background-image: url("../Archivos/background.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
 }
table tr td.banner
   {  
      background-image: url("../Archivos/banner.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      font-size:50px;
      color: #ff0000; 
      -webkit-text-stroke: 2px white;
      font-family:Fantasy;
      text-align: center;
   }
   table tr td.footer
   {
      background-color: black;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      color: whitesmoke;
   }
    .menu a 
    {
      background-image: url("../Archivos/sidebar.png");
      background-size: cover;
      background-attachment: fixed;
      color: black; 
      display: block; 
      padding: 12px;
      text-align: left;
      text-decoration:underline;
      width: 200px; 
      font-family: 'Segoe UI';
      font-size: 28px; 
    }
    .menu a:hover 
    {
       background-image: none;
      background-color: rgb(46, 42, 42); 
      color: white;
    }
    .menu a.activo 
    {
      background-image: none;
      background-color: red; 
      color: white;
    }
    table tr td.cuerpo
   {
    vertical-align: top;
    color: black;
    font-size: 18px;
    font-family: 'Segoe UI';
    background-color: rgba(255, 255, 255, 0.705);
    background-position: center;
    background-repeat: no-repeat;
    
   }
   .EjemImg 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  .EjemImg2 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .esquina_der a
  {
  
  position: absolute;
  top: 18px;
  right: 26px;
  font-size: 14px;
  font-family: 'Segoe UI';
  color: white;
  text-decoration:none;
  text-align:right;
  }
  .login
  {
    text-align:center;
  }
  .productos
  {
    border: 1px solid black;
    font-family: 'Segoe UI';
    font-size: 24px;
  }