#isc   
{font-size:20px;color: green;}
.isca
{font-size:20px;color: crimson;}
.iscb
{font-size:20px;color: rgb(32, 32, 32);}
body 
 {  
   background-image: url("../Archivos/background.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   
 }
table tr td.banner
   {  
      background-image: url("../Archivos/banner.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      font-size:50px;
      color: #ff0000; 
      -webkit-text-stroke: 2px white;
      font-family:Fantasy;
      text-align: center;
       
   }
   table tr td.footer
   {
      position: fixed;
      background-color: black;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      color: whitesmoke;
      margin-top: 800px;
      width: 99%; 
   }
    
    table tr td.cuerpo
   {
    margin-top: 74px;
    padding-bottom: 550px;
    position: absolute;
    width: 99%; 
    color: black;
    font-size: 18px;
    font-family: 'Segoe UI';
    background-color: rgba(255, 255, 255, 0.705);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 700px;
    
   }
   .EjemImg 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 19%; 
  }
  .EjemImg2 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 19%;
  }
  .esquina_der
  {
    
    position: absolute;
    top: 18px;
    right: 26px;
    font-size: 14px;
    font-family: 'Segoe UI';
    color: white;
    text-decoration:none;
    text-align: right;
  }
  .login
  {
    text-align:center;
  }
  .productos
  {
    border: 1px solid black;
    font-family: 'Segoe UI';
    font-size: 24px;
  }

  /* Noticias */

  #canvas{
    
    
    color: black;
    font-size: 18px;
    font-family: 'Segoe UI';
    
    background-position: center;
    background-repeat: no-repeat;
    width: 99%; 
}

#heading{
    text-align: center;
}


#date{
    color:#E42C64;
}


.menu {
  overflow: hidden;    
  background-image: url("../Archivos/sidebar.png");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  text-decoration: none;
  font-family: 'Segoe UI';
  font-size: 20px;
  color: black;
  width: 99%;
  overflow: auto;
  white-space: nowrap; 
}


.menu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.menu a:hover {
  background-image: none;
      background-color: rgb(46, 42, 42); 
      color: white;
}
.menu a.activo 
    {
      background-image: none;
      background-color: red; 
      color: white;
    }
