
/* Estilos para letras */
#isc   
{font-size:20px;color: green;}
.isca
{font-size:20px;color: crimson;}
.iscb
{font-size:20px;color: rgb(32, 32, 32);}
/* Estilos para poner imagen de fondo */
body 
 {  
   background-image: url("../Archivos/background.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   
 }
 /* estilo para el banner principal */
table tr td.banner
   {  
      background-image: url("../Archivos/banner.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      font-size:50px;
      color: #7F1E57; 
      -webkit-text-stroke: 1px white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: center;
       
   }
   /* estilo para el footer de la pagina */
   table tr td.footer
   {
      background-color: black;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      color: whitesmoke;
      position: fixed;
      bottom: 0px;
      width: 100%; 
   }
   /* Difuminado para el cuerpo translucido de la pagina */ 
    table tr td.cuerpo
   {
    z-index: -1;
    padding-top:55px ;
    margin-top: 0px;
    padding-bottom: 100%;
    position: absolute;
    width: 99%; 
    color: black;
    font-size: 18px;
    font-family: 'Segoe UI';
    background-color: rgba(255, 255, 255, 0.905);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    
   }
    /* Ajustes de tamaño de las imagenes */
   .EjemImg 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%; 
  }
  /* Ajustes de tamaño para imagenes */
  .EjemImg2 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  /* Login en la esquina superior derecha */
  .esquina_der
  {
    
    position: absolute;
    top: 18px;
    right: 26px;
    font-size: 14px;
    font-family: 'Segoe UI';
    color: white;
    text-decoration:none;
    text-align: right;
  }
  .login
  {
    text-align:center;
  }
  /* ajustes de la tabla de productos */
  .productos
  {
    border: 1px solid black;
    font-family: 'Segoe UI';
    font-size: 20px;
  }

  /* Noticias */

  #canvas{
    
    
    color: black;
    font-size: 18px;
    font-family: 'Segoe UI';
    
    background-position: center;
    background-repeat: no-repeat;
    width: 99%; 
}

#heading{
    text-align: center;
}


#date{
    color:#E42C64;
}

/* menu horizontal */
.menu {
  
  overflow: hidden;    
  background-image: url("../Archivos/sidebar.png");
  background-size: cover;
  background-attachment: fixed;
  border-image: 5px;
  position: absolute;
  text-decoration: none;
  font-family: 'Segoe UI';
  font-size: 20px;
  color: black;
  width: 99%;
  overflow: auto;
  white-space: nowrap; 
}

/*links del menu horizontal */
.menu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*opciones del menu horizontal con el mouse encima*/
.menu a:hover {
  background-image: none;
      background-color: rgb(46, 42, 42); 
      color: white;
}
/*opcion activa del menu horizontal */
.menu a.activo 
    {
      background-image: none;
      background-color: #7F1E57; 
      color: white;
    }
